.advantages::before {
  display: block;
  content: "";
  position: relative;
  height: 6px;
  background-image: url("../img/zigzag/zigzag-line.svg");
  background-repeat: repeat;
  background-position: top;
  background-size: auto;

  @media (min-width: $tablet-width) {
    height: 17px;
    background-image: url("../img/zigzag/zigzag-line-tablet.svg");
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    height: 23px;
    background-image: url("../img/zigzag/zigzag-line-desktop.svg");
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 68px;
  }
}

.advantages__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: $fw-bold;
  color: $black;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    flex-wrap: wrap;
    margin-top: 44px;
    margin-bottom: 54px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.advantages__list-inner {
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 225px;
    margin-right: 225px;
  }
}

.advantages__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 27px;
  }
}

.advantages__item--eco {
  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.advantages__item--cost {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.advantages__item--like {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.advantages__item--handmade {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.advantages__item--russia {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.advantages__item--gift {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.advantages__item--eco::before {
  display: block;
  content: "";
  position: relative;
  top: -1px;
  left: 8px;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-1.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    top: -5px;
    margin-bottom: 14px;
  }
}

.advantages__item--cost::before {
  display: block;
  content: "";
  position: relative;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-2.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 29px;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-top: 27px;
  }
}

.advantages__item--like::before {
  display: block;
  content: "";
  position: relative;
  left: 7px;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-3.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 34px;
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.advantages__item--handmade::before {
  display: block;
  content: "";
  position: relative;
  left: 3px;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-4.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 31px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
    margin-bottom: 14px;
  }
}

.advantages__item--russia::before {
  display: block;
  content: "";
  position: relative;
  left: -6px;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-5.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 32px;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.advantages__item--gift::before {
  display: block;
  content: "";
  position: relative;
  left: 3px;
  width: 55px;
  height: 38px;
  background-image: url("../img/advantages-icon/icon-6.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 31px;
  margin-bottom: 15px;
}
