.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.catalog__item {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 54px;
    width: 100%;
  }
}

.catalog__link {
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    flex: auto;
  }
}

.catalog__desc {
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
  }
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 6px;
}

.catalog__text {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 18px;
}

.catalog__item-title {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__item-cost {
  font-size: 15px;
  line-height: 27px;
  font-weight: $fw-bold;
  color: $black;
  border-top: 2px solid $light-grey;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 100%;
  }
}
