.contacts-map {
  height: 454px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    order: 5;
    margin-top: 72px;
    margin-bottom: 104px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}
