.contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1150px;
    margin: 0 auto;
    max-height: 460px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: $fw-bold;
  color: $black;
}

.contacts__button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: $fw-bold;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $dark-grey;
  padding: 16px 10px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
  }
}

.contacts__button-wrapper {
  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
  }
}
