.delivery {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 15px;
    line-height: 24px;
    width: 334px;
    text-align: right;
    z-index: 100;
    position: absolute;
    top: 109px;
    right: 51px;
    margin: 0;
  }
}
