.fieldset-color {
  @media (min-width: $tablet-width) {
    background-color: $grey-footer;
    padding-top: 57px;
    padding-bottom: 11px;
  }
}

.fieldset-color__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 250px;
    width: 78%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
