.form-header {
  background-color: $grey-footer;
}

.form-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: $fw-bold;
  color: $black;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
