.form-header {
  background-color: $grey-footer;
  border-top: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.form-header::after {
  @media (min-width: $tablet-width) {
    display: block;
    content: "";
    position: relative;
    height: 12px;
    background-image: url("../img/zigzag/zigzag-fill.svg");
    background-repeat: repeat;
    background-position: top;
    background-size: auto;
    margin-top: -11px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/zigzag/zigzag-fill-desktop.svg");
    height: 17px;
    margin-top: -17px;
  }
}

.form-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: $fw-bold;
  color: $black;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 20px;
  margin: 0;
  min-height: 84px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 35px;
    min-height: 104px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 36px;
    min-height: 132px;
  }
}
