.form__entry-text {
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form__fieldset-title {
  font-size: 17px;
  line-height: 16px;
  font-weight: $fw-bold;
  color: $tiffany;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    width: 22%;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.form__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form__list--contacts {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__item-name {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__item-name:last-child {
  padding-bottom: 0;
}

.form__label-radio {
  font-size: 17px;
  line-height: 18px;
  font-weight: $fw-bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__item-color {
  @media (min-width: $tablet-width) {
    min-height: 52px;
    margin-bottom: 24px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: $fw-bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__label--name {
  @media (min-width: $tablet-width) {
    margin-right: 25px;
    align-self: center;
  }
}

.form__text {
  display: block;
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $dark-grey;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__text::placeholder {
  color: $black-transparent;
}

.form__item-contacts {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.form__item-contacts:last-child {
  padding-bottom: 0;
}

.form__label-contacts {
  font-size: 17px;
  line-height: 16px;
  font-weight: $fw-bold;
  color: $tiffany;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 22%;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.form__item {
  @media (min-width: $tablet-width) {
    width: 78%;
  }
}

.form__textarea {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  border: 2px solid $dark-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    width: 100%;
  }
}

.form__textarea::placeholder {
  color: $black-transparent;
}

.form__finish {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.form__extra-text {
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  font-family: $main-font;
  font-size: 17px;
  line-height: 16px;
  font-weight: $fw-bold;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $white;
  border: 2px solid $dark-grey;
  padding: 16px 10px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
