.main-nav {
  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 489px;
  }
}

.main-nav--opened {
  display: block;
}

.main-nav__block {
  visibility: hidden;
  margin-top: -150px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-bold;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    font-size: 15px;
    line-height: 24px;
    padding-left: 50px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding-left: 0;
  }
}

.main-nav__item {
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid $light-grey;
  padding-right: 27px;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 26px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
    width: 167px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 50px;
    width: 234px;
    border-right: 1px solid $light-grey;
  }
}

.main-nav__item:nth-child(even) {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
    border-right: none;
  }
}

.main-nav__link {
  color: $black;
  text-decoration: none;
  display: block;
  max-width: 217px;
  margin: 0 auto;

  &:hover {
    color: $black-transparent-min;
  }

  &:active {
    color: $black-transparent;
  }
}
