.main-header {
  background-image: url("../img/header-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15%;
  background-size: auto;
  background-color: $background;
  overflow: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: -68px;
    margin-bottom: -50px;
    background-image: url("../img/header-tablet.jpg");
    background-position: center;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    top: -64px;
    background-image: url("../img/header-desktop.jpg");
    background-size: 1150px auto;
    border-top: 1px solid $light-grey;
  }
}

.main-header::after {
  @media (min-width: $tablet-width) {
    display: block;
    content: "";
    position: relative;
    height: 12px;
    background-image: url("../img/zigzag/zigzag-fill.svg");
    background-repeat: repeat;
    background-position: top;
    background-size: auto;
    margin-top: -11px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/zigzag/zigzag-fill-desktop.svg");
    height: 17px;
    margin-top: -17px;
  }
}

.main-header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: $fw-bold;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-header__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.main-header__item-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $tiffany-darken-transparent;
  text-decoration: none;

  &:hover {
    color: $tiffany-darken-transparent-min;
  }

  &:active {
    color: $tiffany-darken-transparent-max;
  }

  @media (min-width: $tablet-width) {
    &:hover {
      height: 124px;
      margin-top: -5px;
    }
  }
}

.main-header__item-button--subjects {
  background-color: $tiffany;
}

.main-header__item-button--toys {
  background-color: $tiffany-dark;
}

.main-header__item-text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 25px;
    padding-bottom: 34px;
  }
}

.main-header__item-svg--subjects {
  margin-right: 36px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.main-header__item-svg--toys {
  margin-right: 35px;
  margin-top: 31px;
  margin-bottom: 22px;
}
