.page-header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: $desktop-width;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    align-items: stretch;
  }
}
