.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: $desktop-width;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.page-header__logo {
  width: 100%;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid $light-grey;
  padding-top: 22px;
  padding-bottom: 22px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 48%;
    padding-top: 22px;
    padding-bottom: 66px;
    border-top: none;
    flex-grow: 1;
    text-align: left;
    padding-left: 48px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    display: block;
    order: 2;
    width: 20%;
    height: 89px;
    padding: 0;
    border-bottom: none;
  }
}

.page-header__logo--index {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.page-header__logo-img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    margin-top: 8px;
    margin-left: 11px;
  }
}

.page-header--no-js .main-nav {
  display: block;
}

.page-header--no-js .nav-extra {
  display: flex;
}

.page-header__toggle {
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 2;
  display: block;
  width: 81px;
  height: 78px;
  background-color: $transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:active,
  &:focus {
    border: none;
  }
}

.page-header__toggle--closed {
  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.page-header__toggle--opened {
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.page-header__toggle--no-js {
  background-image: none;
}
