.page-footer {
  background-color: $grey-footer;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  width: 55%;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}
