.product-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.product-week__desc {
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-right: 42px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 225px;
    margin-right: 58px;
  }
}

.product-week__text {
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.product-week__image {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    align-self: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
  }
}

.product-week__price {
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-right: 42px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    margin-left: 225px;
    margin-right: 58px;
  }
}

.product-week__cost {
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-bold;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.product-week__button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: $fw-bold;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $dark-grey;
  padding: 16px 10px;

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}
