.product-week {
  display: flex;
  flex-direction: column;
}

.product-week__text {
  font-size: 15px;
  line-height: 24px;
}

.product-week__cost {
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-bold;
}

.product-week__button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: $fw-bold;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $dark-grey;
  padding: 16px 10px;
}
