.reviews {
  @media (min-width: $tablet-width) {
    background-image: url("../img/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/review-desktop.jpg");
    background-position: 50px top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-desktop@2x.jpg");
    }
  }
}

.reviews::after {
  display: block;
  content: "";
  position: relative;
  height: 6px;
  background-image: url("../img/zigzag-png/zigzag-line.png");
  background-repeat: repeat;
  background-position: bottom;
  background-size: auto;

  @media (min-width: $tablet-width) {
    height: 17px;
    background-image: url("../img/zigzag-png/zigzag-line-tablet.png");
    background-size: 100%;
    margin-top: 74px;
  }

  @media (min-width: $desktop-width) {
    height: 23px;
    background-image: url("../img/zigzag-png/zigzag-line-desktop.png");
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 124px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    margin-top: 25px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 70px;
    margin-bottom: 10px;
    min-height: 121px;
  }
}

.reviews__text-br {
  @media (min-width: $mobile-width-no) {
    display: none;
  }
}

.reviews__author {
  font-size: 17px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 11px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: $fw-bold;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $light-grey;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    order: 4;
    width: 175px;
    margin: 0;
    margin-left: auto;
    margin-top: -63px;
    margin-bottom: 42px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -65px;
  }
}

.reviews__nav-button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  height: 50px;
  background-color: $transparent;
  flex-grow: 1;
  cursor: pointer;
  color: $black;

  &:hover {
    color: $black-transparent-min;
  }

  &:active {
    color: $black-transparent;
  }
}

.reviews__nav-button--right {
  border-left: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    border-left: none;
  }
}

.reviews__button {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: $fw-bold;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: 2px solid $dark-grey;
  padding: 14px 10px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    width: 175px;
    font-size: 17px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}
