$main-font: "Open Sans", "Arial", sans-serif;
$fs-max-tiny: 13px;
$fs-extra-tiny: 14px;
$fs-tiny: 15px;
$fs-extra-min: 17px;
$fs-min: 18px;
$fs-extra-medium: 19px;
$fs-medium: 20px;
$fs-normal: 25px;
$fs-max: 27px;
$fs-huge: 43px;
$fs-extra-huge: 53px;
$lh-extra-tiny: 16px;
$lh-tiny: 17px;
$lh-extra-min: 18px;
$lh-min: 20px;
$lh-medium: 22px;
$lh-normal: 24px;
$lh-max: 30px;
$lh-huge: 50px;
$lh-extra-huge: 57px;
$fw-normal: 400;
$fw-bold: 700;
